# Django
DJANGO_SECRET_KEY=django-insecure--r#&z037ba9puz(9+ds8f^r=-6z$vp334s5uv4@&v0!(3(%d@2
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# JWT
JWT_SIGNING_KEY=replace-with-jwt-key

# Google OAuth
GOOGLE_CLIENT_ID=replace-with-client-id
GOOGLE_CLIENT_SECRET=replace-with-client-secret

# Token Encryption
FERNET_KEY=replace-with-generated-fernet-key

# Redis
REDIS_URL=redis://localhost:6379/0